<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="x-rim-auto-match" content="none"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/libs.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:300,900&amp;amp;subset=cyrillic"/>
    <link rel="stylesheet" href="css/fonts.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/media.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/cf522e4af0.js"></script>
    <script src="js/libs.min.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/common.js"></script>
  </head>
  <body>
    <aside>
      <div class="logo"><a href="#"><img src="image/logo.svg" alt=""/></a>
        <p>«Могилевский комбинат силикатных изделий»</p>
      </div>
      <div class="small-menu">
        <div></div>
      </div>
      <div class="sidebar-content">
        <nav>
          <ul class="main-nav nav">
            <li>
                <a href="#">Блоки ячеистые
                  <div class="nav-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg>
                  </div>
                </a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="product-block-1cat.html">Блоки ячеистые первой категории</a></li>
                  <li><a href="product-block-3cat.html">Блоки ячеистые третьей категории</a></li>
                  <li><a href="product-system-paz.html">Стеновые блоки с системой паз-гребень</a></li>
                </ul>
              </div>
            </li>
            <li><a href="product-brick.html">Кирпич силикатный</a></li>
            <li><a href="product-perem.html">Перемычки</a></li>
            <li><a href="product-kley.html">Сухие смеси</a></li>
          </ul>
        </nav>
        <nav>
          <ul class="second-nav nav">
            <li><a href="#">О комбинате
                <div class="nav-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg></div></a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="about.html">О комбинате</a></li>
                  <li><a href="history.html">История</a></li>
                  <li><a href="news.html">Новости</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Производство
                <div class="nav-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg></div></a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="blocks-prd.html">Производство ячеистых блоков</a></li>
                  <li><a href="dry-mixes-prd.html">Производство сухих смесей</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Услуги
                <div class="nav-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg></div></a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="delivery.html">Доставка</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Информация
                <div class="nav-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg></div></a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="catalog.html">Каталог</a></li>
                  <li><a href="prices.html">Цены</a></li>
                  <li><a href="order.html">Как заказать</a></li>
                  <li><a href="payment.html">Как оплатить</a></li>
                  <li><a href="documents.html">Документация</a></li>
                </ul>
              </div>
            </li>
            <li><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
        <ul class="sidebar-extra">
          <li class="city"><a class="open-city" href="#">Санкт-Петербург</a></li>
          <li class="shopping-cart">
            <div class="number-of">1</div><a class="open-basket" href="#">Корзина: 25 060 р.</a>
          </li>
          <li class="phone"><a class="open-contacts" href="#">+375 (222) 72-22-52</a></li>
        </ul>
      </div>
    </aside>
    <section class="top-sec" id="about-top">
      <div class="main-sec-overlay"></div>
      <div class="content">
        <h2>О комбинате</h2>
        <div class="descr">
          <p>ЗАО «Могилевский КСИ» – один из крупнейших производителей изделий из автоклавного ячеистого бетона и силикатного кирпича в регионе стран СНГ и Балтии.</p>
        </div>
      </div>
    </section>
    <div class="content-nav">
      <ul>
        <li><a class="active" href="#">О комбинате</a></li>
        <li><a href="#">История</a></li>
        <li><a href="#">Новости</a></li>
      </ul>
    </div>
    <section id="about-content">
      <div class="content">
        <div class="about-text">
          <p>ЗАО «Могилевский КСИ» – один из крупнейших производителей изделий из автоклавного ячеистого бетона и силикатного кирпича в регионе стран СНГ и Балтии.</p>
          <p>Высококвалифицированные специалисты, современное оборудование, постоянное совершенствование технологий, широкое внедрение автоматизированных и компьютеризированных систем управления, более чем пятидесятилетний опыт работы комбината обеспечивают высокое качество продукции.</p>
        </div>
        <div class="wrapper">
          <div class="range-spis">
            <p>Комбинат выпускает широкий спектр стройматериалов:</p>
            <ul>
              <li>
                <p>блоки из ячеистого бетона для кладки на клею и на растворе;</p>
              </li>
              <li>
                <p>перемычки брусковые из ячеистого бетона;</p>
              </li>
              <li>
                <p>плиты теплоизоляционные из ячеистого бетона;</p>
              </li>
              <li>
                <p>кирпич и камни силикатные пустотелые лицевые и рядовые;</p>
              </li>
              <li>
                <p>плиты пенополистирольные теплоизоляционные;</p>
              </li>
              <li>
                <p>смеси бетонные и растворные;</p>
              </li>
              <li>
                <p>железобетонные изделия;</p>
              </li>
              <li>
                <p>сухие строительные смеси.</p>
              </li>
            </ul>
          </div>
          <div class="project-power">
            <p>Проектная мощность:</p>
            <p class="project-power-num">60 млн.шт.</p>
            <p class="project-power-descr">силикатного кирпича в год</p>
            <p class="project-power-num">200 тыс. м3</p>
            <p class="project-power-descr">изделий из ячеистого и плотного силикатобетона в год</p>
          </div>
        </div>
        <div class="slider">
          <ul class="bxslider">
            <li><img src="image/slider-img.jpg" alt=""/></li>
            <li><img src="image/slider-img.jpg" alt=""/></li>
            <li><img src="image/slider-img.jpg" alt=""/></li>
          </ul>
          <div class="description-box">
            <div class="nextSlider"><a href="#"><img src="image/slider_arrow2.svg" alt=""></a></div>
            <div class="prevSlider"><a href="#"><img src="image/slider_arrow.svg" alt=""></a></div>
            <ul class="bxslider">
              <li>
                <h3>Современное оборудование</h3>
                <div class="slider-text">
                  <p>На комбинате постоянно выполняются работы по совершенствованию технологии, модернизации оборудования, повышению качества продукции.</p>
                </div><a href="#">О комбинате</a>
              </li>
              <li>
                <h3>Современное оборудование</h3>
                <div class="slider-text">
                  <p>На комбинате постоянно выполняются работы по совершенствованию технологии, модернизации оборудования, повышению качества продукции.</p>
                </div><a href="#">О комбинате</a>
              </li>
              <li>
                <h3>Современное оборудование</h3>
                <div class="slider-text">
                  <p>На комбинате постоянно выполняются работы по совершенствованию технологии, модернизации оборудования, повышению качества продукции.</p>
                </div><a href="#">О комбинате</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="wrapper">
          <div class="about-text">
            <p>Помимо расширения ассортимента выпускаемой продукции и у увеличения объемов объёмов производства, на комбинате уделяется большое внимание улучшению качества выпускаемой продукции и качества организации труда. В 2002 году предприятием сертифицирована система менеджмента качества производства на соответствие требованиям СТБ ИСО 9000.  В 2007 году проведена сертификация системы управления окружающей средой на соответствие требованиям СТБ ИСО 14001-2005. </p>
            <p>Сертификаты соответствия Республики Беларусь, Российской Федерации, Евросоюза подтверждают высокое качество производимой продукции.</p>
            <p>Комбинат неоднократно становился лауреатами конкурсов: «Лучшие товары Республики Беларусь», «Лучшие товары Республики Беларусь на рынке Российской Федерации».  Комбинат награждён поощрительными дипломами конкурса «Лучший экспортёр 2011 и 2012 года» в номинации «строительство и производство строительных материалов».</p>
          </div>
          <div class="sertificate"><img src="image/sertificate.jpg" alt=""/>
            <p>Высокое качество подтверждено сертификатами соответствия</p><a href="#">Смотреть сертификаты</a>
          </div>
        </div>
        <div class="about-text">
          <p>В течение всей производственной деятельности продукция комбината пользуется устойчивым спросом на строительных рынках Республики Беларусь, Российской Федерации, Украины, стран Балтии.</p>
          <p>Из нашей продукции построено более 78 тысяч квартир в многоэтажных домах и более 146 тысяч индивидуальных жилых домов с хозяйственными постройками.</p>
        </div>
        <div class="produced">
          <p>Произведено за время работы комбината</p>
          <ul class="wrapper">
            <li class="produced-brick">
              <p><span><</span>3,3 млрд. шт.</p>
              <p>силикатного кирпича</p>
            </li>
            <li class="produced-block">
              <p> <span><</span>10 млн. м3</p>
              <p>стеновых блоков</p>
            </li>
            <li class="produced-arm">
              <p> <span><</span>1.8 млн. м3</p>
              <p>армированных изделий</p>
            </li>
          </ul>
        </div>
        <div class="about-text">
          <p>На комбинате постоянно выполняются работы по совершенствованию технологии, модернизации оборудования, повышению качества продукции. При решении этих вопросов комбинат сотрудничает с научно-исследовательскими, проектными, академическими институтами и университетами Республики Беларусь, а также с фирмами Западной Европы. </p>
          <p>В перспективе коллектив комбината намерен сотрудничать с исследовательскими, проектными институтами и организациями РБ, зарубежными фирмами в вопросах улучшения качества продукции, модернизации оборудования, совершенствования технологии, экономии ТЭР.</p>
        </div>
      </div>
    </section>
    <div class="about-bot-nav">
      <ul class="wrapper">
        <li><a href="#">История комбината <span class="arr-icon"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 23"><defs><style>.cls-1{fill: none;stroke: #000000;stroke-miterlimit:10;stroke-width:3px;}</style></defs><title>slider_arrow2</title><polyline class="cls-1" points="1.24 1.15 11.77 11.68 1.23 22.2"/></svg></span></a></li>
        <li><a href="#">Новости <span class="arr-icon"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 23"><defs><style>.cls-1{fill: none;stroke: red;stroke-miterlimit:10;stroke-width:3px;}</style></defs><title>slider_arrow2</title><polyline class="cls-1" points="1.24 1.15 11.77 11.68 1.23 22.2"/></svg></span></a></li>
      </ul>
    </div>
    <footer>
      <div class="copyright">
        <p>© 2016, ЗАО «Могилевский комбинат силикатных изделий»</p>
      </div>
      <div class="done-by">
        <p>Разработка сайта:</p>
        <p class="company-name">Altex</p>
      </div>
    </footer>
    <div id="pop-up-wrapper">
      <div class="popup-bg-color"></div>
      <div class="popup" id="pop-up-contacts">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Телефоны</h2>
        <ul>
          <li>
            <p>Приемная:</p>
            <p>+375 (222) 72-22-38 (факс)</p>
          </li>
          <li>
            <p>Фирменный магазин:</p>
            <p>+375 (222) 72-22-14</p>
          </li>
          <li>
            <p>Отдел маркетинга и сбыта:</p>
            <p>+375 (222) 72-22-52,</p>
            <p>+375 (222) 72-22-59,</p>
            <p>+375 (222) 72-22-52 (факс)</p>
          </li>
          <li>
            <p>Финансовый отдел:</p>
            <p>+375 (222) 72-22-41 (факс)</p>
          </li>
          <li>
            <p>Отдел материально-технического снабжения:</p>
            <p>+375 (222) 72-22-32 (факс)</p>
          </li>
        </ul>
        <div class="popup-contacts-links"><a class="leave-app-link" href="#">Оставить заявку</a><a href="#">Перейти в контакты</a></div>
      </div>
      <div class="popup" id="pop-up-city">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Выберите город</h2>
        <ul>
          <li><a href="#">Москва</a></li>
          <li><a href="#">Санкт-Петербург</a></li>
          <li><a href="#">Брянск</a></li>
          <li><a href="#">Великий Новгород</a></li>
          <li><a href="#">Калуга</a></li>
          <li><a href="#">Курск</a></li>
          <li><a href="#">Орел</a></li>
          <li><a href="#">Псков</a></li>
          <li><a href="#">Смоленск</a></li>
          <li><a href="#">Тверь</a></li>
          <li><a href="#">Тула</a></li>
        </ul>
        <div class="notion">
          <p>Не нашли свой город — </p>
          <div class="notion-link-wrap"><a href="#">свяжитесь с нашим отделом продаж.</a></div>
        </div>
      </div>
      <div class="popup" id="pop-up-leave-app">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Оставить заявку</h2>
        <form action="">
          <div class="leave-app-name">
            <label for="leave-app-name">Ваше имя</label>
            <input id="leave-app-name" type="text" placeholder="Имя"/>
          </div>
          <div class="leave-app-email">
            <label for="leave-app-email">E-mail</label>
            <input id="leave-app-email" type="email" placeholder="Для связи с Вами"/>
          </div>
          <div class="leave-app-phone">
            <label for="leave-app-phone">Телефон</label>
            <input id="leave-app-phone" type="text" placeholder="Для связи с Вами"/>
          </div>
          <div class="leave-app-comment">
            <label for="leave-app-comment">Комментарий</label>
            <textarea id="leave-app-comment" placeholder="Ваш комментарий"></textarea>
          </div>
          <input type="submit" value="Отправить"/>
        </form>
      </div>
      <div class="popup" id="pop-up-leave-app2">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Оставить заявку</h2>
        <form action="">
          <div class="leave-app-name">
            <label for="leave-app-name">Ваше имя</label>
            <input id="leave-app-name" type="text" placeholder="Имя"/>
          </div>
          <div class="leave-app-resident">
            <label for="leave-app-resident"></label>
            <select name="resident" id="leave-app-resident">
              <option value="RU">Российской Федерации</option>
              <option value="BLR">Республики Беларусь</option>
              <option value="KZ">Казахстана</option>
              <option value="UKR">Украины</option>
            </select>
          </div>
          <div class="leave-app-email">
            <label for="leave-app-email">E-mail</label>
            <input id="leave-app-email" type="email" placeholder="Для связи с Вами"/>
          </div>
          <div class="leave-app-phone">
            <label for="leave-app-phone">Телефон</label>
            <input id="leave-app-phone" type="text" placeholder="Для связи с Вами"/>
          </div>
          <input type="submit" value="Отправить"/>
        </form>
      </div>
      <div class="popup" id="pop-up-basket">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Корзина</h2>
        <div class="basket-table">
          <table>
            <tr class="caption">
              <td>
                <p>Наименование</p>
              </td>
              <td>
                <p>Количество</p>
              </td>
              <td>
                <p>Отгрузка</p>
              </td>
              <td>
                <p>Предварительная цена</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Стеновые блоки из ячеистого бетона первой категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Длина: 588;</p>
                <p>Ширина: 100;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>40 (поддоны)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Стеновые блоки из ячеистого бетона третьей категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Длина: 588;</p>
                <p>Ширина: 100;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>20 (шт)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Пазогребневые блоки первой категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Ширина: 100;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>40 (поддоны)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Перегородочные блоки первой категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Длина: 588;</p>
                <p>Ширина: 120;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>40 (поддоны)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Перегородочные блоки третьей категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Длина: 588;</p>
                <p>Ширина: 100;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>20 (шт)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Перемычка</p>
                </div>
                <p>Длина: 1500;</p>
                <p>Ширина: 200;</p>
                <p>Высота: 250;</p>
                <p>Нагрузка: до 2 (не несущая);</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>3 (шт)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Кирпич силикатный</p>
                </div>
                <p>Лицевой (11-х пустотный);</p>
                <p>Длина: 250;</p>
                <p>Ширина: 120;</p>
                <p>Высота: 88;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>40 (поддоны)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Сухие смеси</p>
                </div>
                <p>К21/2(с противоморозной добавкой)</p>
              </td>
              <td>
                <input type="text"/>
                <p>шт</p>
              </td>
              <td>
                <p>3 (шт)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
          </table>
        </div>
        <div class="notion">
          <p>Цена указана для города: <span>Москва</span>. </p>
          <div class="notion-link-wrap"><a class="open-city" href="#">Выбрать другой город</a></div>
        </div>
        <div class="make-request">
          <button>Оформить заявку</button>
        </div>
      </div>
    </div>
  </body>
</html>