<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="x-rim-auto-match" content="none"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/libs.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:300,900&amp;amp;subset=cyrillic"/>
    <link rel="stylesheet" href="css/fonts.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/media.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/cf522e4af0.js"></script>
    <script src="js/libs.min.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/common.js"></script>
  </head>
  <body>
    <aside>
      <div class="logo"><a href="#"><img src="image/logo.svg" alt=""/></a>
        <p>«Могилевский комбинат силикатных изделий»</p>
      </div>
      <div class="small-menu">
        <div></div>
      </div>
      <div class="sidebar-content">
        <nav>
          <ul class="main-nav nav">
            <li>
                <a href="#">Блоки ячеистые
                  <div class="nav-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg>
                  </div>
                </a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="product-block-1cat.html">Блоки ячеистые первой категории</a></li>
                  <li><a href="product-block-3cat.html">Блоки ячеистые третьей категории</a></li>
                  <li><a href="product-system-paz.html">Стеновые блоки с системой паз-гребень</a></li>
                </ul>
              </div>
            </li>
            <li><a href="product-brick.html">Кирпич силикатный</a></li>
            <li><a href="product-perem.html">Перемычки</a></li>
            <li><a href="product-kley.html">Сухие смеси</a></li>
          </ul>
        </nav>
        <nav>
          <ul class="second-nav nav">
            <li><a href="#">О комбинате
                <div class="nav-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg></div></a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="about.html">О комбинате</a></li>
                  <li><a href="history.html">История</a></li>
                  <li><a href="news.html">Новости</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Производство
                <div class="nav-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg></div></a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="blocks-prd.html">Производство ячеистых блоков</a></li>
                  <li><a href="dry-mixes-prd.html">Производство сухих смесей</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Услуги
                <div class="nav-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg></div></a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="delivery.html">Доставка</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Информация
                <div class="nav-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.62 14.41"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;opacity:.2;}</style></defs><title>nav-arrow-right</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polyline class="cls-1" points="0.71 0.71 7.21 7.21 0.71 13.71"/></g></g></svg></div></a>
              <div class="second-lvl-menu">
                <div class="second-lvl-bg"></div>
                <ul>
                  <li><a href="catalog.html">Каталог</a></li>
                  <li><a href="prices.html">Цены</a></li>
                  <li><a href="order.html">Как заказать</a></li>
                  <li><a href="payment.html">Как оплатить</a></li>
                  <li><a href="documents.html">Документация</a></li>
                </ul>
              </div>
            </li>
            <li><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
        <ul class="sidebar-extra">
          <li class="city"><a class="open-city" href="#">Санкт-Петербург</a></li>
          <li class="shopping-cart">
            <div class="number-of">1</div><a class="open-basket" href="#">Корзина: 25 060 р.</a>
          </li>
          <li class="phone"><a class="open-contacts" href="#">+375 (222) 72-22-52</a></li>
        </ul>
      </div>
    </aside>
    <div class="top-bread">
      <ul>
        <li><a href="#">Главная </a></li>
        <li><a href="#">Блоки ячеистые</a></li>
        <li><a href="#">Блоки из ячеистого бетона стеновые третьей категории</a></li>
      </ul>
    </div>
    <section id="product">
      <div class="content wrapper">
        <div class="product-img">
          <div class="price-label">
            <div class="price-label-border"><img src="image/price.svg" alt=""/></div>
            <p><span>35.00 </span>руб/шт</p>
          </div><img src="image/product-block-1cat.jpg" alt=""/>
          <div class="notation"><a href="#">Скачать полный прайс-лист продукции</a></div>
        </div>
        <div class="product-info">
          <h2>Стеновые блоки с плоскими гранями первой категории</h2>
          <p>Блоки из ячеистого бетона — конструкционные теплоизоляционные газобетонные блоки объемной плотностью 400-700 кг/м3 для устройства наружных ограждающих конструкций толщиной до 500 мм при однослойной кладке.
            <form action="">
              <div class="range density-range-block-1cat">
                <div class="caption">
                  <p>Плотность бетона</p>
                </div>
                <div class="range-labels">
                  <ul class="wrapper">
                    <li>
                      <p>D400</p>
                    </li>
                    <li>
                      <p>D500</p>
                    </li>
                    <li>
                      <p>D600</p>
                    </li>
                  </ul>
                </div>
                <input id="block-1cat-density-range" type="range" min="0" max="99" step="1" value="D500"/>
                <div class="range-min">
                  <p>Наименьшая</p>
                </div>
                <div class="range-max">
                  <p>Наибольшая</p>
                </div>
              </div>
              <div class="radio">
                <div class="caption">
                  <p>Высота блока</p>
                </div>
                <input id="block-1cat-height-radio" type="checkbox" value="250"/>
                <p>200</p>
                <label for="block-1cat-height-radio"></label>
                <p>250</p>
              </div>
              <div class="range width-range-block-1cat">
                <div class="caption">
                  <p>Ширина</p>
                </div>
                <div class="range-labels">
                  <ul class="wrapper">
                    <li>
                      <p>200</p>
                    </li>
                    <li>
                      <p>250</p>
                    </li>
                    <li>
                      <p>300</p>
                    </li>
                    <li>
                      <p>350</p>
                    </li>
                    <li>
                      <p>375</p>
                    </li>
                    <li>
                      <p>400</p>
                    </li>
                    <li>
                      <p>500</p>
                    </li>
                  </ul>
                </div>
                <input id="width-range-block-1cat" type="range" min="0" max="99" step="1" value=""/>
                <div class="range-min">
                  <p>Наименьшая</p>
                </div>
                <div class="range-max">
                  <p>Наибольшая</p>
                </div>
              </div>
              <div class="radio length-radio-block-1cat">
                <div class="caption">
                  <p>Длина</p>
                </div>
                <input id="length-radio-block-1cat" type="checkbox" value="625"/>
                <p>600</p>
                <label for="length-radio-block-1cat"></label>
                <p>625</p>
              </div><a class="add-to-app-btn" href="#">Добавить к заявке</a>
            </form>
          </p>
        </div>
      </div>
    </section>
    <section id="product-tech-char">
      <div class="content">
        <div class="wrapper">
          <div class="center-content">
            <h2>Техническик характеристики</h2>
            <div class="headline">
              <p>Применение газобетонных блоков:</p>
            </div>
            <p>Используется в строительстве для кладки несущих стен до пяти этажей или в каркасно-монолитных домах без ограничения этажности, а также для кладки внутренних стен и перегородок.</p>
          </div>
          <div class="side-bar">
            <div class="download-instr"><a href="#">Скачать инструкцию к товару</a></div>
          </div>
        </div>
        <div class="char-table">
          <table>
            <tr>
              <td class="caption" colspan="2">
                <p>Показатель</p>
              </td>
              <td class="top-row" colspan="7">
                <table>
                  <tr>
                    <td class="head" colspan="7">
                      <p>Значение показателя для марки по средней плотности</p>
                    </td>
                  </tr>
                  <tr class="table-mark">
                    <td class="custom">
                      <p>D350</p>
                    </td>
                    <td>
                      <p>D400</p>
                    </td>
                    <td class="custom">
                      <p>D450</p>
                    </td>
                    <td>
                      <p>D500</p>
                    </td>
                    <td class="custom">
                      <p>D550</p>
                    </td>
                    <td>
                      <p>D600</p>
                    </td>
                    <td class="custom">
                      <p>D700</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Средняя плотность в сухом состоянии, кг/м3</p>
              </td>
              <td>
                <p>326-375</p>
              </td>
              <td>
                <p>376–425</p>
              </td>
              <td>
                <p>426–475</p>
              </td>
              <td>
                <p>476–525</p>
              </td>
              <td>
                <p>526–575</p>
              </td>
              <td>
                <p>576–625</p>
              </td>
              <td>
                <p>676–725</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Класс бетона по прочности на сжатие</p>
              </td>
              <td>
                <p>В 1,5</p>
              </td>
              <td>
                <p>В1,5</p>
                <p>В2,0</p>
                <p>B2,5</p>
              </td>
              <td>
                <p>В1,5</p>
                <p>В2,0</p>
              </td>
              <td>
                <p>В2,0</p>
                <p>В2,5</p>
                <p>B3,5</p>
              </td>
              <td>
                <p>В2,5</p>
              </td>
              <td>
                <p>В2,5</p>
                <p>В3,5</p>
              </td>
              <td>
                <p>В3,5</p>
                <p>В5,0</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Прочность на сжатие, МПа, не менее</p>
              </td>
              <td>
                <p>1,62</p>
              </td>
              <td>
                <p>1,62</p>
                <p>2,16</p>
              </td>
              <td>
                <p>1,62</p>
                <p>2,16</p>
              </td>
              <td>
                <p>2,16</p>
                <p>2,70</p>
                <p>3,78</p>
              </td>
              <td>
                <p>2,70</p>
              </td>
              <td>
                <p>2,70</p>
                <p>3,78</p>
              </td>
              <td>
                <p>3,78</p>
                <p>5,40</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Марка по морозостойкости</p>
              </td>
              <td>
                <p>F25</p>
              </td>
              <td>
                <p>F25</p>
              </td>
              <td>
                <p>F25</p>
                <p>F35</p>
              </td>
              <td>
                <p>F25</p>
                <p>F35</p>
              </td>
              <td>
                <p>F35</p>
              </td>
              <td>
                <p>F35</p>
              </td>
              <td>
                <p>F35</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Коэффициент теплопроводности в сухом состоянии, Вт/(м·ºС)</p>
              </td>
              <td>
                <p>0,09</p>
              </td>
              <td>
                <p>0,10</p>
              </td>
              <td>
                <p>0,11</p>
              </td>
              <td>
                <p>0,12</p>
              </td>
              <td>
                <p>0,13</p>
              </td>
              <td>
                <p>0,14</p>
              </td>
              <td>
                <p>0,18</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Усадка, мм/м, не более</p>
              </td>
              <td colspan="7">
                <p>0,5</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Отпускная влажность, % по массе, не более</p>
              </td>
              <td colspan="7">
                <p>25</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>УЭАЕР, Бк/кг, не более</p>
              </td>
              <td colspan="7">
                <p>370</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Отклонения от размеров, мм</p>
              </td>
              <td colspan="7">
                <p>±1,0</p>
              </td>
            </tr>
            <tr>
              <td class="caption" colspan="2">
                <p>Группа горючести по ГОСТ 30244</p>
              </td>
              <td colspan="7">
                <p>НГ (негорючие)</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="notation">
          <p>Под заказ</p>
        </div>
        <div class="nb">
          <div class="caption">
            <p>Нестандартные размеры</p>
          </div>
          <p>По согласованию с заказчиком допускается изготовление изделий нестандартных размеров.</p>
        </div>
        <div class="pack">
          <div class="caption">
            <p>Упаковка:</p>
          </div>
          <p>Блоки упакованы в стретч-худ пленку на деревянных поддонах ПВ2-2 по 1,875 (1,8; 2,0) м3.</p>
        </div>
        <div class="example">
          <div class="caption">
            <p>Пример условного обозначения: 625×300×250–2,5–500–35–1 СТБ 1117–98</p>
          </div>
          <p>Расшифровка маркировки</p>
          <ul>
            <li>
              <p><span>625×300×250 </span>- размер блока, мм (длина×ширина×высота);</p>
            </li>
            <li>
              <p><span>2,5 </span>– класс по прочности на сжатие – В2,5;</p>
            </li>
            <li>
              <p><span>500 </span>– марка по средней плотности ячеистого бетона – D500;</p>
            </li>
            <li>
              <p><span>35 </span>– марка по морозостойкости – F35;</p>
            </li>
            <li>
              <p><span>1 </span>– категория блока;</p>
            </li>
            <li>
              <p><span>СТБ 1117–98 </span>– обозначение стандарта, по которому выпускается продукция.</p>
            </li>
          </ul>
        </div>
        <div class="quality">
          <div class="caption">
            <p>Качество</p>
          </div>
          <p>Качество продукции подтверждено сертификатами соответствия. На предприятии внедрена система менеджмента качества в соответствии с требованиями стандарта СТБ ISO 9001:2009.</p><img src="image/gost-icons.png" alt=""/>
        </div>
      </div>
    </section>
    <section id="product-features">
      <div class="content">
        <ul class="wrapper">
          <li>
            <div class="caption">
              <p>Доставляем авто и ж/д транспортом</p>
            </div>
            <div class="notation"><a href="#">Подробней о доставке</a></div>
          </li>
          <li>
            <div class="caption">
              <p>Упаковываем во влагозащитную пленку</p>
            </div>
            <div class="notation"><a href="#">Подробней об упаковке</a></div>
          </li>
          <li>
            <div class="caption">
              <p>Качество подтверждено сертификатами</p>
            </div>
            <div class="notation"><a href="#">Смотреть сертификаты</a></div>
          </li>
        </ul>
      </div>
    </section>
    <section id="blocks-features">
      <div class="content">
        <h2>Особенности наших блоков</h2>
        <ul>
          <li>
            <div class="prod-features-img"><img src="image/product1.svg" alt=""/></div>
            <div class="prod-features-text">
              <div class="headline">
                <p>Точность размеров</p>
              </div>
              <p>Высокая геометрическая точность минимизирует потери тепла через кладочные швы и снижает расход клеевого раствора.</p>
            </div>
          </li>
          <li>
            <div class="prod-features-img"><img src="image/product2.svg" alt=""/></div>
            <div class="prod-features-text">
              <div class="headline">
                <p>Экономичность</p>
              </div>
              <p>Большие габариты, небольшая масса и простота монтажа, позволяют ускорить процесс застройки.</p>
            </div>
          </li>
          <li>
            <div class="prod-features-img"><img src="image/product3.svg" alt=""/></div>
            <div class="prod-features-text">
              <div class="headline">
                <p>Прочность</p>
              </div>
              <p>Автоклавная обработка придает блокам высокую прочность, что обеспечивает долговечность и устойчивость к сильным морозам и перепадам температур .</p>
            </div>
          </li>
          <li>
            <div class="prod-features-img"><img src="image/product4.svg" alt=""/></div>
            <div class="prod-features-text">
              <div class="headline">
                <p>Легкий вес</p>
              </div>
              <p>Снижает трудозатраты и скорость строительства. Легкость позволяет снизить нагрузку на фундамент и каркас здания.</p>
            </div>
          </li>
          <li>
            <div class="prod-features-img"><img src="image/product5.svg" alt=""/></div>
            <div class="prod-features-text">
              <div class="headline">
                <p>Энергосбережение</p>
              </div>
              <p>Низкая теплопроводность, поддерживает комфортную температуру в помещении,           и снижает затраты на дополнительную теплоизоляцию</p>
            </div>
          </li>
          <li>
            <div class="prod-features-img"><img src="image/product6.svg" alt=""/></div>
            <div class="prod-features-text">
              <div class="headline">
                <p>Универсальность</p>
              </div>
              <p>Идеально подходят для строительства всех видов наружных и внутренних стен. Легко поддается механической обработке.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="buy-with">
      <div class="content">
        <div class="sec-logo">
          <p>+</p>
        </div>
        <h2>С блоками покупают</h2>
        <div class="items">
          <ul>
            <li><a href="#">
                <div class="item-text">
                  <p>Перемычки</p>
                </div>
                <div class="item-image"><img src="image/products-blocks.jpg" alt=""/></div></a></li>
            <li><a href="#">
                <div class="item-text">
                  <p>Сухие смеси</p>
                </div>
                <div class="item-image"><img src="image/products-bricks.jpg" alt=""/></div></a></li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <div class="copyright">
        <p>© 2016, ЗАО «Могилевский комбинат силикатных изделий»</p>
      </div>
      <div class="done-by">
        <p>Разработка сайта:</p>
        <p class="company-name">Altex</p>
      </div>
    </footer>
    <div id="pop-up-wrapper">
      <div class="popup-bg-color"></div>
      <div class="popup" id="pop-up-contacts">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Телефоны</h2>
        <ul>
          <li>
            <p>Приемная:</p>
            <p>+375 (222) 72-22-38 (факс)</p>
          </li>
          <li>
            <p>Фирменный магазин:</p>
            <p>+375 (222) 72-22-14</p>
          </li>
          <li>
            <p>Отдел маркетинга и сбыта:</p>
            <p>+375 (222) 72-22-52,</p>
            <p>+375 (222) 72-22-59,</p>
            <p>+375 (222) 72-22-52 (факс)</p>
          </li>
          <li>
            <p>Финансовый отдел:</p>
            <p>+375 (222) 72-22-41 (факс)</p>
          </li>
          <li>
            <p>Отдел материально-технического снабжения:</p>
            <p>+375 (222) 72-22-32 (факс)</p>
          </li>
        </ul>
        <div class="popup-contacts-links"><a class="leave-app-link" href="#">Оставить заявку</a><a href="#">Перейти в контакты</a></div>
      </div>
      <div class="popup" id="pop-up-city">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Выберите город</h2>
        <ul>
          <li><a href="#">Москва</a></li>
          <li><a href="#">Санкт-Петербург</a></li>
          <li><a href="#">Брянск</a></li>
          <li><a href="#">Великий Новгород</a></li>
          <li><a href="#">Калуга</a></li>
          <li><a href="#">Курск</a></li>
          <li><a href="#">Орел</a></li>
          <li><a href="#">Псков</a></li>
          <li><a href="#">Смоленск</a></li>
          <li><a href="#">Тверь</a></li>
          <li><a href="#">Тула</a></li>
        </ul>
        <div class="notion">
          <p>Не нашли свой город — </p>
          <div class="notion-link-wrap"><a href="#">свяжитесь с нашим отделом продаж.</a></div>
        </div>
      </div>
      <div class="popup" id="pop-up-leave-app">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Оставить заявку</h2>
        <form action="">
          <div class="leave-app-name">
            <label for="leave-app-name">Ваше имя</label>
            <input id="leave-app-name" type="text" placeholder="Имя"/>
          </div>
          <div class="leave-app-email">
            <label for="leave-app-email">E-mail</label>
            <input id="leave-app-email" type="email" placeholder="Для связи с Вами"/>
          </div>
          <div class="leave-app-phone">
            <label for="leave-app-phone">Телефон</label>
            <input id="leave-app-phone" type="text" placeholder="Для связи с Вами"/>
          </div>
          <div class="leave-app-comment">
            <label for="leave-app-comment">Комментарий</label>
            <textarea id="leave-app-comment" placeholder="Ваш комментарий"></textarea>
          </div>
          <input type="submit" value="Отправить"/>
        </form>
      </div>
      <div class="popup" id="pop-up-leave-app2">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Оставить заявку</h2>
        <form action="">
          <div class="leave-app-name">
            <label for="leave-app-name">Ваше имя</label>
            <input id="leave-app-name" type="text" placeholder="Имя"/>
          </div>
          <div class="leave-app-resident">
            <label for="leave-app-resident"></label>
            <select name="resident" id="leave-app-resident">
              <option value="RU">Российской Федерации</option>
              <option value="BLR">Республики Беларусь</option>
              <option value="KZ">Казахстана</option>
              <option value="UKR">Украины</option>
            </select>
          </div>
          <div class="leave-app-email">
            <label for="leave-app-email">E-mail</label>
            <input id="leave-app-email" type="email" placeholder="Для связи с Вами"/>
          </div>
          <div class="leave-app-phone">
            <label for="leave-app-phone">Телефон</label>
            <input id="leave-app-phone" type="text" placeholder="Для связи с Вами"/>
          </div>
          <input type="submit" value="Отправить"/>
        </form>
      </div>
      <div class="popup" id="pop-up-basket">
        <div class="popup-close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{}.cls-2{}</style></defs><title>close</title><g class="cls-1"><rect class="cls-2" x="-3" y="10.5" width="32" height="4" transform="translate(-5.03 12.85) rotate(-45)"/><rect class="cls-2" x="11" y="-3.5" width="4" height="32" transform="translate(-5.03 12.85) rotate(-45)"/></g></svg>
        </div>
        <h2>Корзина</h2>
        <div class="basket-table">
          <table>
            <tr class="caption">
              <td>
                <p>Наименование</p>
              </td>
              <td>
                <p>Количество</p>
              </td>
              <td>
                <p>Отгрузка</p>
              </td>
              <td>
                <p>Предварительная цена</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Стеновые блоки из ячеистого бетона первой категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Длина: 588;</p>
                <p>Ширина: 100;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>40 (поддоны)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Стеновые блоки из ячеистого бетона третьей категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Длина: 588;</p>
                <p>Ширина: 100;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>20 (шт)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Пазогребневые блоки первой категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Ширина: 100;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>40 (поддоны)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Перегородочные блоки первой категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Длина: 588;</p>
                <p>Ширина: 120;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>40 (поддоны)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Перегородочные блоки третьей категории</p>
                </div>
                <p>Плотность бетона: D600;</p>
                <p>Длина: 588;</p>
                <p>Ширина: 100;</p>
                <p>Высота: 200;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>20 (шт)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Перемычка</p>
                </div>
                <p>Длина: 1500;</p>
                <p>Ширина: 200;</p>
                <p>Высота: 250;</p>
                <p>Нагрузка: до 2 (не несущая);</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>3 (шт)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Кирпич силикатный</p>
                </div>
                <p>Лицевой (11-х пустотный);</p>
                <p>Длина: 250;</p>
                <p>Ширина: 120;</p>
                <p>Высота: 88;</p>
              </td>
              <td>
                <input type="text"/>
                <p>м3</p>
              </td>
              <td>
                <p>40 (поддоны)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
            <tr>
              <td>
                <div class="headline">
                  <p>Сухие смеси</p>
                </div>
                <p>К21/2(с противоморозной добавкой)</p>
              </td>
              <td>
                <input type="text"/>
                <p>шт</p>
              </td>
              <td>
                <p>3 (шт)</p>
              </td>
              <td class="headline">
                <p>505 000 р.</p>
              </td>
              <td><a href="#">+</a></td>
            </tr>
          </table>
        </div>
        <div class="notion">
          <p>Цена указана для города: <span>Москва</span>. </p>
          <div class="notion-link-wrap"><a class="open-city" href="#">Выбрать другой город</a></div>
        </div>
        <div class="make-request">
          <button>Оформить заявку</button>
        </div>
      </div>
    </div>
  </body>
</html>